body
{
    background-color: rgb(0, 0, 0);
    margin: 2;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper 
{
    display:inline-block;
}

.child 
{
    background-color: rgb(10, 64, 72);
    align-content: center;
    border-radius: 10px;
}

.logo
{
    padding: 20px;
    display: inline-block;
    width: 90px;
    vertical-align: middle;
}

.searchBar
{
    display: inline-flex;
    width: 90%;    
}
.gap-2 {
    gap: .5rem;
}
.inline-block
{
    display: inline-block;
}
.vertical-align
{
    
}
a
{
    color: rgba(255, 255, 255, 0.8)
}