body
{
    margin: 0.5rem 0.5rem;
    background-color: #070707;
    color:white;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
}
p .gray-text
{
    width: 150vw;
    text-align: center;
}
a
{
    text-decoration: none;
    color: rgb(181, 195, 198);
}

.headerstyle
{
    height: 4.5vh;
    padding-inline: 1vw;
    padding-block: 0.5rem;
    border: 2px solid rgb(9, 52, 59);
    border-radius: 10px;
    background: url(images/blur.png) 0% 0%;
}
.logo
{
    width: 6rem;
    display: flex;
    align-items: center;
}

.searchBar
{
    width: clamp(250px, 30vw, 500px);
    height: clamp(1rem, 2.8rem, 4rem);

    border-radius: 10px;
    border: 0px;
    background: url(images/blur.png) 0% 0%;
}
.searchBar::placeholder
{
    color: rgb(148, 155, 167);
    font-size: 1rem;
}

.image-text-group
{
    display: flex;
}

.image-text-group > a {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
    flex: 1;     
}

.image-text-group a > img {
    width: 2.5rem; 
}
.image-text-group > a:hover
{
    border-radius: 10px;
    transition: 0.15s;     
    opacity: 90%;
    background-color: rgb(32, 72, 79);
}

.replay-service
{
    margin-top: 3vh;
    width: 65vw;

    text-align: center;
    justify-self: center;
    
    background-image: linear-gradient(rgb(8, 34, 53),  rgb(7, 28, 40));
    border: 1px solid rgb(32, 49, 57);
    border-radius: 10px;
}

.how-it-works
{
    margin-top: 25px;
    width: 63vw;
    
    justify-content: center;
    justify-self: center;
    
    background-image: linear-gradient(rgb(6, 23, 34), rgb(6, 20, 28));
    border: 1px solid rgb(31, 47, 56);
    border-radius: inherit;
}


.replay-service>span
{
    font-size: 2rem;
    font-weight: bold;
}
.replay-text
{
    margin-top: 2vh;
    height: 3.5rem;
    width: 14ch;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(23, 72, 87);
    border-radius: 5px;
    color: rgb(53, 199, 227);
}

.gray-text
{
    color: rgb(153, 163, 170);
}

.number
{
    margin-block: 2vh;
    margin-inline: 2vw;
    
    font-size: 1.5rem;
    width:  3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgb(53, 199, 227);
    background-color:rgb(23, 72, 87) ;
    border-radius: 50%;
}
